.feed-level {
    width: 99%;
    height: 20px;
    margin-top: 10px;
    border: grey solid 3px;
    margin-right: 10px;
    border-radius: 10px;
    margin:1px;
}
.bar-label {
    font-family: cute-font;
    font-size: 12px;
}
