@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');

$bg-color: pink;

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
body{  
    form {
        display: flex;
        flex-direction: column;
    }  
    label.form-class {
        font-size: 2vw;
        margin-bottom: 10px;
        margin-left: 10px;
      }
    #submit {
        align-self: center;
    }
    .spaceDiv{
        height:100px;
    }
    .input-form{
        font-size: 2vw;
        border-radius: 20px;
        text-align: center;
        margin-left: 10px;
    }
    #loginDiv{
        display: block;
        text-align: center;
        background-color: $bg-color;
        width: 90%;
        height: 90%;
        margin: 0 auto;
        .return-arrow-button{
            background-image: url(/static/media/return-image.2f4449a8.png);
            width: 6vw;
            height: 6vw;
            background-size: contain;
            background-color: white;
            background-repeat: no-repeat;
            box-shadow: 9px 9px 9px #666;
        }
    }

}