

h1, p {
    font-family: Lato;
    text-align: center;
}

#game-div{
    width: 60vw;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "left up right"
                         "left  center right "
                         "left center right"
                         "left center right"
                         "left down right"
}  
.up { 
    grid-area: up; 
    background: pink; 
    width: auto; 
    height: 120px;
}
.down { 
    grid-area: down; 
    background: pink; 
    width: auto; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left { 
        grid-area: left; 
        background: pink; 
        width: auto; 
        height: auto; 
        text-align: center;
        justify-content: center;
        padding: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}
.return-space-play {
      width: 100%;
}
.right { 
      grid-area: right; 
      background: pink; 
      width: 100%; 
      height: auto; 
      text-align: center; 
      justify-content: center; 
      display: block; 
      padding-top: 40%;
      padding-bottom: 20%;
      input {
          font-size: 14px;
          height: 100%;
          width: 100%;
      }
      #data-input {
        background-color: dimgrey;
        color: white;
        font-weight: bold;
        font-family: cute-font;
        font-size: 2vh;
        border-radius: 10px;
        padding: 6%;
    }
      #talking-out-div {
          height: 50%;
          margin: 2%;
      }
      #talking-div {
        margin: 3%;
        height: 100%;
        margin-top: 10%;        
    }
     #talking-space {
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 70%;
      background-color: white;
      border-radius: 20px;
      margin-bottom: 0;
      color: black;
      flex-direction: column;
      display: flex;
      font-family: cute-font;
      font-size: 2vh;
      padding: 6%;
     }
      #data-out-div {
        height: 200px;
      }
      #data-div {
        height: 100%;
        margin: 3%;
        margin-top: 10%;
      }     
}
.center { 
      grid-area: center; 
      background: white; 
      width: auto; 
      height: 60vh; 
      background-image: url('../components/images/fondo-juego.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}
.left-button {
      width: 10vh;
      height: 10vh;
      background-size: contain;
      background-color: white;
      background-repeat: no-repeat;
      box-shadow: 9px 9px 9px #666;
      background-position: center;
      border-radius: 10px;
      border: pink solid 3px;
}
#foto-button{
        background-image: url('../components/images/foto-button.png');
}
#music-button{
        background-image: url('../components/images/music-button.png');  
}
#eww-image {
      width: 200px;
      height: 200px;
}
.eww-image {
      width: 100%;
      height: 100%;
}
.down-button {
      width: 140px;
      height: -webkit-fill-available;
      background-color: white;
      background-repeat: no-repeat;
      box-shadow: 9px 9px 9px #666;
      background-position: center;
      background-size: contain;
      border: pink solid 3px;
      border-radius: 10px;
}
#wet-button {
  background-image: url('../components/images/wet-button.png');
}
#play-with-button {
  background-image: url('../components/images/gamepad.png');
}
#to-feed-button {
  background-image: url('../components/images/feed-button.png');
}
.interaction-button {
  width: 100%;
  height: 100%;
}
#eww-image {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.eww-pet {
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  -webkit-appearance: none;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.eww-img {
  width: 20vh;
  height: 20vh;
  margin-top: 20px;
}
.poohs-div {
  display: flex;
  margin-top: 30px;
}
.pooh-button {
  width: 6vh;
  height: 7vh;
}
.dropup {
  position: relative;
  display: inline-block;
}
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropup-content a:hover {background-color: #ddd}
.dropup:hover .dropup-content {
  display: flex;
  margin: 36%;
}
.dropup:hover .dropbtn {
  background-color: #2980B9;
}
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.insect {
  width: 90px;
  height: 90px;
  width: 140px;
  height: -webkit-fill-available;
  background-color: white;
  background-repeat: no-repeat;
  box-shadow: 9px 9px 9px #666;
  background-position: center;
  background-size: contain;
  border: pink solid 3px;
  border-radius: 10px;
}
#insect1 {
  background-image: url('../components/images/insect1.png');
}
#insect2 {
  background-image: url('../components/images/insect2.png');
}
#insect3 {
  background-image: url('../components/images/insect3.png');
}
.bar-label {
  font-size: 11px;
  font-weight: bold;
}


