$bg-color: pink;
h1{
width: 100%;
font-size: 20vw;
justify-self: center;
margin-bottom: 5vw;
margin-top: 5vw;
}

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: rancho;
   
    .spaceDiv{
        height:100px;
    }

    input{
        font-size: 2vw;
        border-radius: 20px;
        text-align: center;
    }
    #loginDiv{
        display: block;
        text-align: center;
        background-color: $bg-color;
        width: 90%;
        height: 90%;
        margin: 0 auto;
        button {
            font-family:rancho;
            font-size: 5vw;
            margin: 15px;
            padding: 20px;
            border: #351a65 solid 4px;
            border-radius: 10px;
            align-content: center;
            background-color: #7961A1;
            box-shadow: 9px 9px 9px #666;
            width: 100%;    
        
        }
        .submit-button {
            padding: 10px;
            border: black solid 2px;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 10%;
            box-shadow: 9px 9px 9px #666;
        }
        .return {
            flex-direction: row;
            display: flex;
            font-size: 2vw;
            justify-content: center;
    
        }
        .return-space{
            display: flex;
            text-decoration: none;
            width: 20%;
            justify-content: flex-start;
            text-decoration: none;
            width: 40%;
            font-size: 20px;
            justify-content: flex-start;
        }
    }

}