

$bg-color: pink;

h1{
width: 100%;
font-size: 20vw;
justify-self: center;
margin: auto;
}

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: rancho;
   
    .spaceDiv{
        height:100px;
    }

    input{
        font-size: 4vw;
        border-radius: 20px;
        text-align: center;
    }
    #userDiv{
        display: flex;
        text-align: center;
        background-color: $bg-color;
        margin: 0 auto;
        flex-direction: column;
        width: 60vw;
        height: 60vw;
        align-items: center;
    }
    .return-space{
        display: flex;
        text-decoration: none;
        width: 20%;
        justify-content: flex-start;
        text-decoration: none;
        width: 40%;
        font-size: 20px;
        justify-content: flex-start;
    }
    .return-arrow-button {
        background-image: url('../components/images/return-image.png');
        width: 8vh;
        height: 8vh;
        background-size: contain;
        background-color: white;
        background-repeat: no-repeat;
        box-shadow: 9px 9px 9px #666;
        border: #351a65 solid 3px;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
    }
        
    .submit-button {
        padding: 10px;
        border: black solid 2px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 10%;
        box-shadow: 9px 9px 9px #666;
    }
    .return {
        flex-direction: row;
        display: flex;
        font-size: 2vw;
        justify-content: center;
    
    }
    #logout-button {
        align-self: flex-start;
        width: 10vw;
        height: 8%;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0;
    }

}

