@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');
//@import 'rodal/lib/rodal.css';
*, *:focus {
    outline: none !important;
    -webkit-appearance: none;
}

button {
    border: none;
}

