@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


#storyDiv {
    background-color: pink;
    width: 60vh;
    height: 800px;
}
.diapo {
    width: 40vh;
    height: 70vh;
    margin: auto;
    margin-top: 0;
}
#sliderTitle {
    margin-top: 10px;
    margin-bottom: 10px;
}


